<div class="loginpopup">
     <div class="list">
            <span class="formtext">E-mail</span>
            <label class="item item-input formboxes">
                <input type="email" placeholder="">
            </label>

        </div>
        <div class="list">
            <span class="formtext">Password</span>
            <label class="item item-input formboxes">
                <input type="password" placeholder="">
            </label>

        </div>
        <button class="button button-assertive formboxes" ng-click="close()">
           Login
        </button>
   
</div>
